@import 'components/colors';
@import 'components/navbar';
@import 'components/hero';
@import 'components/searchbar';
@import 'components/typeahead';
@import 'components/dropdown';
@import url("https://fonts.googleapis.com/css?family=Roboto:500");

.center {
	text-align: center;
}

.loading {
	margin-top: 3em;
}

.thumbnail {
	height: 300px;
	width: 250px;
	margin: 10px 10px;
	a img {
		height: 70%;
		width: 100%;
	}
}