.jumbotron {
	height: 80%;
	padding: 0px 0px;
	img {
		//z-index: -1;
		width: 100%;
		height: 100%;
		position: relative;
	}

	.hero-text-overlay {
		z-index: 999;
		left: 0;
		position: absolute;
		text-align: center;
		top: 30px;
		width: 100%;
		transform: translateY(300%);

		h1 {
			letter-spacing: 2px;
			font-size: 4em;
			color: $near-white;
			font-family: 'Roboto', sans-serif;
		}
	}
}
