.search-bar{
  position: relative;
}

.form-control{
  width: 100%;
}

.btn-row{
  text-align: center;
  margin-top: 1em;
}

.search-btn{
  color: $near-white;
  background-color: $base-color;
}

.search{
  height: 100%;
}
