.search-bar{
  margin-top: 2em;
}

.form-control{
  width: 100%;
}

.btn-row{
  text-align: center;
  margin-top: 1em;
}

.search-btn{
  width: 45%;
  color: $near-white;
  background-color: $base-color;
}
